*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-comforta: 'Comfortaa';
    --ff-sans: 'Source Code Pro', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --color-bg: #fff;
    --color-txt: #303030;
    --color-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h2: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h2: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/*general*/

body {
    background: var(--color-bg);
    color: var(--color-txt);
    margin: 0;
    font-family: var(--ff-comforta);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

/* typography */


h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1)}
h2 { font-size: var(--fs-h2)}
h3 { font-size: var(--fs-h3)}

.section_title {

}

.section_title--intro {
    font-weight: var(--fw-reg);
}

.section_subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section_subtitle--intro,
.section_subtitle--about {
    background: var(--color-accent);
    font-family: var(--ff-sans);
}